<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
  <!--The content below is only a placeholder and can be replaced.-->

  <div class="container form_div">
    <h2>Feel Safe</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="area">Area:</label>
        <input type="area" [(ngModel)]="model.area" class="form-control" id="area" placeholder="Area" name="area">
        <label for="pwd">per sq ft</label>
      </div>
      <div class="form-group">
        <label for="person">Number of Person:</label>
        <input type="person" [(ngModel)]="model.person" class="form-control" id="person" placeholder="No of Person" name="person">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<!-- Material form register -->

</body>

<router-outlet></router-outlet>
