body{
    background-image:url('../assets/images/background');
    background-position: center center;
   background-repeat:  no-repeat;
   height: 650px;
	background-attachment: fixed;
			background-size:  cover;
}
h2{
    color: azure;
    margin-top: 20px;
    font-size: 45px;
    font-family: monospace;
}
label{
    color: azure;
    font-size: 20px;
    font-family: cursive;
}
.form_div{
    width: 100%;
    background-color:rgba(5, 5, 5, 0.205);

}
.table_div{
    float:right;
    margin-top: 50px
}
.btn-primary {
    color: #fff;
    background-color: green;
    border-color: green;
}
input::placeholder {
    color: rgb(151, 151, 151);
    font-size: 1.2em;
    font-style: italic;
  }

.form_inner_div{
    width :40%;
    float: left;

padding:50;
}
.form_input_feild{
     background-color:rgba(82, 74, 74, 0.425);
}

.button_submit{
    float:right;
    margin-top:20px;
    margin-right: 40px;
    margin-bottom: 20px;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

.dropPadding{
    margin-left: 16;
}

.input_field {
    background-color:rgba(82, 74, 74, 0.425);
    color:rgb(211, 68, 68);
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}