<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
  <!--The content below is only a placeholder and can be replaced.-->

  <div class="container form_div">
    <div  class=" form_inner_div" style="margin-bottom: 30px;">
        <h2>Feel Safe</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Number of employees:</label>
            <input required  type="person" [(ngModel)]="model.person"  class="form-control input_field form-control-plaintext" id="email" placeholder="Enter number of employees" name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Area in sq ft:</label>
            <input required type="Area" [(ngModel)]="model.area"   class="form-control form_input_feild input_field form-control-plaintext" id="pwd" placeholder="Enter area in sq ft" name="pswd">
          </div>
          <!-- <div class="form-group">
            <label for="pwd">Available plants:</label>
            <input type="password" class="form-control input_field form-control-plaintext" id="pwd" placeholder="Enter plants available" name="pswd">
          </div> -->
          <br />
          <button type="submit" class="btn btn-primary button_submit">Submit</button>
          <div class="form-group">
              <label for="pwd">{{text}}</label>
            </div>
        </form>
    </div>

    <div *ngIf="submitPressed" class="table_div">
        <table>
            <tr>
                <th>Plant name</th>
                <th>Number of plants required</th>
            </tr>
            <tr *ngFor="let user of names">
              <td>{{user.plant}}</td>
              <td>{{user.count}}</td>
            </tr>
          </table>
    </div>

  </div>

</body>

<router-outlet></router-outlet>
